@font-face {
    font-family: 'Whyte Inktrap';
    src: url('https://raw.githubusercontent.com/ITHELOKI/Figma/main/WhyteInktrap-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
